<footer class="site-footer">

  <div class="wrapper">

      <div class="footer-col">
        <ul class="contact-list">

          {% if site.email %}
          <li>
            {% include icon-mail.html username=site.email %}
          </li>
          {% endif %}

          {% if site.git_url %}
          <li>
            {% include icon-git.html git_url=site.git_url %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

          {% if site.instagram_username %}
          <li>
            {% include icon-instagram.html username=site.instagram_username %}
          </li>
          {% endif %}
        </ul>
      </div>

    </div>

  </div>

</footer>
