<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description | escape }}{% if page.title %} - {{ page.title | strip_html | strip_newlines }}{% endif %}">

  <title>
    {{ site.description | escape }}{% if page.title %} - {{ page.title | strip_html | strip_newlines }}{% endif %}
  </title>

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl }}">

  {% if page.photoswipe %}
  <script src="{{ "/assets/js/photoGallery.js" | prepend: site.baseurl }}"></script> 
  <script src="{{ "/assets/js/swipedEvents.min.js" | prepend: site.baseurl }}"></script> 
  {% endif %}
</head>
