.page-content {
    // margin-bottom because of the footer
    margin-bottom: $spacing-unit * 2;
}

a > i.fa {
    color: $grey-color;
}

.site-header {

    #avatar-hexagon {
        width: $spacing-unit * 8;
        margin: 0 auto;
        margin-top: $spacing-unit * 2;
    }
}

.site-title {
    display: block;
    text-align: center;
    margin-top: $spacing-unit;
    font-size: $big-font-size;
    color: $text-color;

    &:visited {
        color: $text-color;
    }

    &:hover {
        text-decoration: none;
    }
}

.site-nav {
    text-align: center;
    margin: $small-spacing-unit;

    a {
        font-size: $base-font-size;
        margin: $small-spacing-unit;
    }
}


.site-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background: $grey-color-light;

    .contact-list {
        text-align: center;
        margin-bottom: $small-spacing-unit;
        margin-top: $small-spacing-unit;

        li {
            margin: $small-spacing-unit;
            display: inline;
        }
    }
}

.post-list {
    list-style: none;
    margin: 0;

    .post-meta {
        font-size: $small-font-size;
    }
}

.project-list {
    list-style: none;
    margin: 0;

    .project-description {
        margin-bottom: $spacing-unit;
    }
}

.project-header {
    margin-bottom: $small-spacing-unit;

    .project-title {
        display: inline;

        a {
            margin: 0;
        }
    }

    .project-link {
        margin-left: $spacing-unit;
    }
}
